/*Стили для попапа напитков,снеков, и прочего*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.801);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.body {
  position: relative;
  display: flex;
  justify-content: center;
  top: 20%;
}

.close {
  position: absolute;
  right: -10px;
  top: -5px;
  color: #fff;
  cursor: pointer;
}
.content {
  position: absolute;
  top: 20%;
  left: 20%;
  padding: 30px;
  width: 720px;
  height: 389px;
  border-radius: 20px;
  display: flex;
  background-color: #fff;
}
.img {
  display: block;
  margin: 0 auto;
  width: 292px;
  height: 292px;
}

.info {
  margin-left: 51px;
  gap: 45px;
  display: flex;
  flex-direction: column;
}

.button {
  width: 320px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding: 13px 51px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  border: none;
  color: #fff;
  background: #f47700;
  border-radius: 1000px;
}
