.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.801);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 3%;
}

.body {
  position: relative;

  width: 920px;
  max-height: 610px;
}
.close {
  position: absolute;
  right: -15px;
  top: -5px;
  color: #fff;
  cursor: pointer;
}

.button {
  width: 320px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding: 13px 51px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  border: none;
  color: #fff;
  background: #f47700;
  border-radius: 1000px;
}

.content {
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.background {
  margin: 76px 44px 76px 38px;
  display: flex;
  align-items: center;
  background-image: url("../../../public/img/Ellipse 6.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 458px;
  height: 458px;
}
.img {
  display: block;
  margin: 0 auto;
  width: 372px;
  height: 372px;
}

.description {
  padding-bottom: 60px;
  margin: 30px;

  max-height: 561px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.description::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.size {
  margin-bottom: 14px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f3f3f7;
  width: 320px;
  height: 32px;
  cursor: pointer;
}

.dough {
  margin-bottom: 22px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f3f3f7;
  width: 320px;
  height: 32px;
  cursor: pointer;
}

.selector {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 102px;
  height: 28px;
}

.slimDoughSelector {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 156px;
  height: 28px;
}

.smallSizeSelector {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 316px;
  height: 28px;
}

.selector2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 154px;
  height: 28px;
}
.selected {
  background: #ffffff;
  box-shadow: 0px 3px 15px rgba(6, 5, 50, 0.05);
  border-radius: 100px;
}

.grid {
  margin-top: 11px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
}

.card {
  border: 1px solid #000;
  height: 150px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 20px rgba(6, 5, 50, 0.05);
}
.checked {
  display: none;
}

.checked:checked ~ .card {
  border: 1px solid #f47700;
  border-radius: 12px;
}

.cardImg {
  display: block;
  width: 84px;
  height: 84px;
}
.cardTitle {
  margin-top: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.cardDescr {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
}
